[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24.4"
opencv-python = "*"
pyaudio = "*"
speechrecognition = "*"
openai = "*"
pyqt6 = "*"
faster-whisper = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
